#mainTitle {
    font-family: Brush Script MT;
    text-align: center;
    font-size: 40px;
   } 
body {
    background-color: #facdee;
     }
ul {
  list-style-type: none;
  margin: 1;
  padding: 0;
  background-color: #facdee;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:link {
  color: red;
  text-decoration: none;
}

ul li a:visited {
  color: blue;
  text-decoration: none;
}

ul li a:hover {
    background-color: #f576d3; 
    border-radius: 30px;
    text-decoration: none;
}

ul li a:active {
  color: hotpink;
  text-decoration: none;
} 
